name: Continuous integration

on:
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]
        types: [ opened, synchronize ]

jobs:
    check:
        name: Code check
        runs-on: ubuntu-latest
        permissions:
            contents: 'read'
            id-token: 'write'
        strategy:
            matrix:
                command: [ lint, typecheck, test ]
        steps:
            -   name: Checkout
                uses: actions/checkout@v5

            -   name: Setup bun
                uses: oven-sh/setup-bun@v2
                with:
                    bun-version: latest

            -   name: Install dependencies
                run: bun install

            -   name: ${{ matrix.command }}
                run: bun run ${{ matrix.command }}
