name: Continuous integration

on:
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]
        types: [ opened, synchronize ]

jobs:
    check:
        name: Code check
        runs-on: ubuntu-latest
        permissions:
            contents: 'read'
            id-token: 'write'
        strategy:
            matrix:
                command: [ '--bun lint:ci', typecheck, test ]
        env:
            HUSKY: 0
        steps:
            -   name: Checkout
                uses: actions/checkout@v5

            -   name: Setup bun
                uses: oven-sh/setup-bun@v2
                with:
                    bun-version: latest

            -   name: Install dependencies
                run: bun install

            -   name: ${{ matrix.command }}
                run: bun run ${{ matrix.command }}

            -   name: ESLint cache
                uses: actions/cache@v4
                if: matrix.command == '--bun lint:ci'
                with:
                    path: .eslintcache
                    key: ${{ runner.os }}-node
